@mixin button($color: white, $setbg: true, $text-color: rgba(255, 255, 255, 1), $small: false){
  @if $small{
    height: 24px;
    min-width: 24px;
  } @else {
    height: 36px;
    min-width: 36px;
  }
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: $text-color;
  border-radius: 6px;

  @if $setbg {
    background-color: rgba(255, 255, 255, 0.3);
  }

  & > i {
    font-size: 18px;
    @if $small{
      margin: 0.01rem;
    } @else {
      margin: 7px;
    }
  }

  &:active, &.active {
    color: $color;
  }

  &:hover {
    @if $small{
      background: rgba(0, 0, 0, 0.15) ;
    } @else {
      background: rgba(255, 255, 255, 0.15);
    }
    cursor: pointer;
  }
}


@mixin util_button() {
  height: 100px;
  min-width: 100px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.8);

  & > span {
    font-size: 5rem;
    margin: 7px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.3) ;
    cursor: pointer;
  }
}
