@import 'vars';
@import 'mixins';

.row-element {
  display: inline-block;
  vertical-align: top;
}

.delete-area {
  display: none;
  background-color: rgba(255, 0, 0, 0.35);
  top: 100vh;
  height: 20vh;
  transform: translateY(-100%);
  width: 100%;
  position: fixed;
  border-top: 1px solid white;
  padding: 5%;
  & > span {
    font-size: 50px;
    display: table;
    margin: 0 auto;
    width: fit-content;
  }
}

.delete-area.trash-hovered {
  background-color: rgba(255, 0, 0, 0.6);
  & > span {
    color: white;
  }
}

.tracker {
  &__card-area {
    position: absolute;
    top: $header-height;
    right: 0;
    left: 0;
    height: 100vh;
    white-space: nowrap;

    .empty-list {
      min-width: 200px;
      margin: 10px 5px;
      border-radius: 4px;
      & .add-list {
        padding: 5px;
        .add {
          font-size: 1.1rem;
        }
        position: relative;
        width: 100%;
        border-radius: 2px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 0.25);
        &:hover {
          background-color: rgba(255, 255, 255, 0.35);
          cursor: pointer;
        }
      }
    }

    .list {
      max-width: 240px;
      min-height: 10px;
      min-width: 240px;
      margin: 10px 0 10px 5px;
      padding: 10px 5px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.85);

      &__cards {
        overflow-y: auto;
        height: fit-content;
        min-height: 10px;
        max-height: 300px;
      }

      &__cards.highlight {
        border: 2px solid lightblue;
        min-height: 380px !important;
        background-color: rgba(255, 255, 255, 0.55);
      }
      &__cards.hovered {
        border-color: green;
      }

      &__edit {
        display: flex;
        justify-content: space-between;
      }
      &__title {
        padding: 2px 5px;
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        &:focus {
          cursor: text;
          outline: 2px solid rgba(0, 0, 255, 0.6);
        }
      }

      &__card {
        padding: 6px 0 1px 0;
        display: flex;
        justify-content: center;
        height: fit-content;
        & > span {
          font-size: 18px;
          margin: auto 2px;
          .dropbtn {
            background-color: #3498db;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
          }

          .dropbtn:hover,
          .dropbtn:focus {
            background-color: #2980b9;
          }

          .dropdown {
            position: relative;
            display: inline-block;
          }

          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
          }

          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }

          .dropdown a:hover {
            background-color: #ddd;
          }

          .show {
            display: block;
          }
          @include button(none, false, rgba(120, 120, 120, 0.75), true);
        }
      }

      &__card-text {
        z-index: 100;
        font-size: 12px;
        white-space: pre-line;
        cursor: pointer;
        background: white;
        opacity: 0.8;
        width: 80%;
        height: fit-content;
        border-radius: 4px;
        border: none;
        box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);

        &:focus {
          cursor: text;
          outline: none;
        }
      }

      &__card-text-edit-input {
        display: none;
        padding: 10px;
        border: none;
        border-radius: 8px;
        width: 100%;
        &:focus {
          cursor: text;
          outline-color: rgba(0, 0, 255, 0.6);
        }
      }

      &__card-text-edit-span {
        display: block;
        padding: 10px;
        border: none;
        &:focus {
          cursor: text;
          outline: none;
        }
      }

      &__add-card {
        margin-top: 10px;
        padding: 5px;
        .add {
          font-size: 1.1rem;
        }

        position: relative;
        width: 100%;
        border-radius: 4px;
        color: rgba(0, 0, 0, 0.5);

        &:hover {
          background: rgba(0, 0, 0, 0.15);
          cursor: pointer;
        }
      }

      .button-actions {
        @include button(none, false, rgba(120, 120, 120, 0.75), true);
      }
    }
  }
}
